:root {
    --main-color: #212121;
    --focus-color: #2196F3;
    --contacts-color: #757575;
    --text-add: #000000;
    --text-opposite: #ffffff;


    --background-total: #ffffff;
    --background-main: #2F303A;
    --background-second: #F5F4FA;
    --button-active: #188CE8;
    
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    margin: 0 auto;
    width: 1600px;
    background-color: var(--background-total);
    color: var(--main-color);
}

/*Header*/

.head {
    height: 80px;  
    display: flex;
    align-items: center; 
    position: relative;

    
}

/*header logo*/
.logo.header {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--focus-color);
    text-decoration: none;

    position: absolute;
    left: 215px;
    top: 42px;
    
}

.logo-second.header {
    color: var(--text-add);
    position: absolute;
   
    
}

/* header menu*/


.menu {
    list-style: none;
    text-decoration: none;
    display: flex;

    position: absolute;
    width: 281px;
    height: 16px;
    left: 453px;
    top: 32px;

}

.menu .list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    cursor: pointer;

    margin-right: 50px;
}

.menu .list:hover,
.menu .list:focus  {
    color: var(--focus-color);
}

.menu .list.current {
    color: var(--focus-color);
}

/* header contacts */
.contacts {
    list-style: none;
    text-decoration: none;
    display: flex;

    position: absolute;
    left: 1078px;
    top: 32px;

}

.contacts .list {
    color: var(--contacts-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    cursor: pointer;

    margin-left: 50px;
}

.contacts .list:hover,
.contacts .list:focus {
    color: var(--focus-color);
}



/* Main content */

.main {
    background-color: var(--background-main);
    width: 1600px;
    height: 600px;

    position: relative;
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    color: var(--text-opposite);

    padding-top: 200px;
    padding-left: 452px;
    padding-right: 452px;
    padding-bottom: 30px;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--text-opposite);

    cursor: pointer;

    background: var(--button-active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    width: 216px;
    height: 50px;
   
    padding: 10px 26px;
    
    position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 350px;
  
}

.button:hover,
.button:focus {
    background: var(--focus-color);
}

/* Specifics */

.specifics {
    margin: 94px 170px; 
    
}

.specifics-title {
    display: none;
}

.spspecifics-list {
    width: 1200px;
    height: 98px;
}

.specifics-card {
    list-style: none;
    
    display: inline-block;
    margin: 0px 15px;
    width: 270px;
    height: 98px;
}

.specifics-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.specifics-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--contacts-color);
}

/* Our work */

.work {
    margin: auto 170px; 
    position: relative;  
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    position: absolute;
    left: 455px;

    margin-bottom: 50px;
}

.work-list {
    margin-bottom: 50px;  
}

.work-card {
    list-style: none;
    display: inline-block;
    margin: 94px 15px;
}

/* Teams */

.teams {
    background-color: var(--background-second);
    width: 1600px;
    height: 648px;
    position: relative;
}

.teams-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    position: absolute;
    left: 668px;
    top: 94px;  
}

.teams-list{
    list-style: none;
    
    position: absolute;
    left: 175px;
    top: 186px;
    
}

.team-card {
    display: inline-block;
    margin: 15px;
    width: 270px;
    height: 368px;

    background: var(--background-total);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
    text-align: center;
}

.teams-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-top: 30px;
}

.teams-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-top: 10px;
    
    color: var(--contacts-color);
}    
/*Footer*/

.footer {
    background-color: var(--background-main);
    height: 252px;
    position: relative;
}

.logo.footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--focus-color);
    text-decoration: none;

    position: absolute;
    left: 215px;
    top: 60px; 
}

.logo-second.footer {
    color: var(--text-opposite);
}

.footer-address a {
       color: var(--text-opposite);
       font-style: normal;
       text-decoration: none;
}

.footer-address a:hover,
.footer-address a:focus {
    color: var(--focus-color);
}


.footer-list{
    font-weight: 400;
    list-style: none;;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}



.map {
    color: var(--text-opposite);
    position: absolute; 
       left: 215px;
       top: 111px; 
       margin-bottom: 10px;
}

.footer-email {
    color: var(--contacts-color);
    position: absolute; 
       left: 215px;
       top: 141px; 
       margin-bottom: 10px;
} 

.phone {
    color: var(--contacts-color);
    position: absolute; 
       left: 215px;
       top: 151px; 
       margin-top: 10px;    
}


/* Portfolio Filters */
.filters{
    margin: 174px 512px;
    width: 575px;
    height: 54px;
}

.filters-title{
    display: none;
}

.filters-list{
    list-style: none;
    display: flex;
}
    

.filters-button{
    margin: 0 4px;
    cursor: pointer;
    padding: 6px 22px;

    width: 125px;
    height: 38px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background: var(--background-second);
    border: none;
    border-radius: 4px;
}

.filters-button:hover,
.filters-button:focus{
    background-color: var(--focus-color);
    color: var(--text-opposite);
}

/* Projects */